body {
  background-color: lightblue;
  box-sizing: border-box;
}

.conteiner {
  display: flex;
  flex-direction: row;
}

div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

p {
  margin-top: 80px;
}

#rojo {
  background-color: red;
}

#blanco {
  background-color: white;
}

#azul {
  background-color: blue;
}
